.category {
    height: 330px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.category img {
    width: 90%;
    max-height: 250px;
    object-fit: contain;
    padding: 0px 10px;
}
.category a {
    text-decoration: none;
    color: #232323;
}
.category h2, .category p {
padding: 5px;
margin-left: 15px;
}
.category p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 132, 209);
}
.category__container {
    position: relative;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    max-width: 1600px;
    place-items: center;
}